<div class="hero" data-aos="fade" data-aos-delay="850">
    <div class="hero-text-container"  data-aos="fade-in" data-aos-delay="1450">
      <p><em>Search</em> for a career that <span class="hero-text-fit"><em>fits you.</em></span> <br /><br />
        Search by city, state, country,
        remote or commute <span class="hero-text-fit"><em>software development</em></span> jobs.</p>
    </div>
  </div>