<div class="filter-search">
        <h1>Featured Jobs</h1>
        <form class="search-form" action="/jobs/search" method="GET">
            <input class="search-field" type="text" name="term"
                placeholder="Enter Job Title or Keywords [ex. Front End Developer]">
        </form>
    </div>