<table width="100%" style="margin: 0rem auto 10rem;font-size: 1.1rem;background-color:#f8fafc;line-height:40px;">
    <tr>
        <a href="/jobs" class="logo" style="text-decoration: none;color:#CCC;">
            <h2 style="text-align:center;font-size:1rem;line-height: 29px;">DevBoard.io</h2>
        </a>
        <div style="background-color:#fff; border-top:solid 1px #efefef; border-bottom: solid 1px #efefef;padding: 3rem 21rem;">
            <h4 style="margin:0;padding:0">Hello!</h4>
        <p>
            Thank you {{ email }} for signing up for notifications. You have selected to receive {{ frequency }} notifications. 
            to Opt-out of notifications click the unsibscribe link at the bottom. 
        </p>
        <p>Regards.<br/><a href="http://localhost:5001/jobs">Devboard.io</a></p>
        {{!-- <p style="font-family:'Helvetica Neue; font-weight: bold;">
            Build the easiest way for digital nomads and the location independents to find meaningful and rewarding
            careers. We hope to be part of the remote workforce revolution by connecting skilled workers with reputable
            companies.
        </p> --}}
        {{!-- <button style="width:100%;background: #568c9b; padding: 1rem 2rem;color: #fff;font-size: 1rem;font-weight: bold;border: none;outline: none;cursor: pointer;">Click Here For Something</button> --}}
        </div>
        <p style="padding: 0 6rem; text-align: center; font-size:.9rem;color:#aeaeae;">© 2020 devboard.io. All rights reserved. | To unsubscribe to notifications <a href="http://localhost:5001/unsubscribe">click here</a></p>
    </tr>
</table>