<table width="600" style="margin: 0rem auto 10rem;    font-size: 1.2rem;border: solid 3px #ececec;padding: 3rem 6rem;">
    <div class="about-content">
        <a href="/jobs" class="logo" style="text-decoration: none;color:#333;">
            <h2 style="text-align:center;font-size:1.8rem;line-height: 29px;">DevBoard.io
                <span style=" font-size: 0.7rem;display: block;line-height: 1;letter-spacing: 1.2px;color: #989696;text-transform: uppercase;">Let's get you working.</span>
            </h2>
        </a>
        <p>
            Thank you {{ email }} for signing up for notifications. You have selected to receive {{ frequency }} notifications. 
            to Opt-out of notifications click the unsibscribe link at the bottom. 
        </p>
        <p style="font-family:'Helvetica Neue; font-weight: bold;">
            Build the easiest way for digital nomads and the location independents to find meaningful and rewarding
            careers. We hope to be part of the remote workforce revolution by connecting skilled workers with reputable
            companies.
        </p>
        <button style="width:100%;background: #568c9b; padding: 1rem 2rem;color: #fff;font-size: 1rem;font-weight: bold;border: none;outline: none;cursor: pointer;">Click Here For Something</button>
        <p>To unsubscribe to notifications <a href="http://localhost:5001/unsubscribe">click here</a></p>
    </div>
</table>