<table width="600" style="margin:3rem auto 10rem;font-size: 1.1rem;">
    <div class="about-content">
        <a href="/jobs" class="logo" style="text-decoration: none;color:#333;">
            <h2 style="font-size:1.8rem;line-height: 29px;">DevBoard.io
                <span style=" font-size: 0.7rem;display: block;line-height: 1;letter-spacing: 1.2px;color: #989696;text-transform: uppercase;">Let's get you working.</span>
            </h2>
        </a>
        <p style="font-family:'Helvetica Neue; font-weight: bold;">
            Build the easiest way for digital nomads and the location independents to find meaningful and rewarding
            careers. We hope to be part of the remote workforce revolution by connecting skilled workers with reputable
            companies.
        </p>

        <p>To unsubscribe to notifications <a href="/unsubscribe">click here</a></p>
    </div>
</table>