<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/42562b750b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <title>DevBoard.io | Let's Get You Working.</title>
</head>

<body id="{{ path }}">
  <header class="inner">
    <a href="/jobs" class="logo">
      <h2>DevBoard.io
        <span>Let's get you working.</span>
      </h2>
    </a>
    <nav>
      <ul class="main-nav">
        <li><a class="jobs" href="/jobs">Home</a></li>
        <li><a class="about" href="/about">About</a></li>
        <li><a class="remote" href="/jobs/remote">Remote Jobs</a></li>
        <li><a class="add" href="/jobs/add">Post a Job</a></li>
        {{!-- <li><a href="/register">Register</a></li> --}}
      </ul>
    </nav>
  </header>
  {{!-- <div class="modal-overlay">
    <div class="daily-job-alert-modal modal">
      <div class="modal-header"></div>
      <div class="modal-content"></div>
      <div class="modal-form"></div>
    </div>
  </div> --}}
  {{#if jobs}}
    {{> hero-full }}
  {{/if}}
  <div class>
    {{!-- Output any views --}}
    {{{ body }}}
  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  {{!-- <script src="../../public/js/main.js"></script> --}}
  <a class="back-to-top-btn" data-aos="fade-up" data-aos-offset="1400">
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="cookies-notification" data-aos="fade-in" data-aos-delay="3000">
    <div class="cookies-notification-close">
      <p>We use cookies and other tracking technologies to improve your browsing experience on our website, to show you
        personalized content and targeted ads, to analyze our website traffic, and to understand where our visitors are
        coming from. By browsing our website, you consent to our use of cookies and other tracking technologies.</p>
      <button class="cookies-accept-btn">I Agree</button>
      <button class="cookies-change-preferences-btn">Change my preferences</button>
    </div>
  </div>
  <footer>
    <h2>DevBoard.io
      <span>Let's get you working.</span>
    </h2>
    <div class="footer-content">
      <div class="footer-column-navigation">
        <h4>Navigation</h4>
        <ul clas="footer-navigation-list">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Remote Jobs</a></li>
          <li><a href="">Post a Job</a></li>
        </ul>
      </div>
      <div class="footer-column-ad">
        <img src="/img/tr-715X384.gif" />
      </div>
      <div class="footer-column-job-alerts">
        <h4><i class="far fa-envelope"></i>Sign Up For Job Alerts</h4>
        <p>New jobs are added all day long. Get them delivered straight to your inbox every evening and be one of the
          first
          applicants!</p>
        <form action="/add">
          <input type="email" name="email" id="email" class="email" placeholder="Enter your email address" required>
          <button type="submit" class="send-email-address">
            <i class="fas fa-arrow-right"></i>
          </button>
          <div class="feedback-yes-no">
            <div class="radio">
              <input id="radio-daily" name="email_frequency" type="checkbox" value="daily" checked="checked">
              <label for="radio-daily"><span class="radio-label"></span> Daily Updates</label>
            </div>
            <div class="radio">
              <input id="radio-weekly" name="email_frequency" type="checkbox" value="weekly">
              <label for="radio-weekly"><span class="radio-label"></span> Weekly Updates</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2020 DevBoard.io</p>
    </div>
    <script>
      AOS.init();      
    </script>
    <script src="/js/main.js"></script>
  </footer>
</body>

</html>