{{> hero-short}}
<div class="container">
    <div class="about-content">
        <h4>About DevBoard.io</h4>
        <p>
            Build the easiest way for digital nomads and the location independents to find meaningful and rewarding
            careers. We hope to be part of the remote workforce revolution by connecting skilled workers with reputable
            companies.
        </p>
    </div>
</div>