<div class="hero-short" data-aos="fade" data-aos-delay="850">
    <section id="job-content-header">
        <div class="container">
            <h3>{{title}}</h3>
            <h4>About the Employer</h4>
            <p>{{ company }}</p>
        </div>
    </section>
</div>
<section>
    <h4>Job Description</h4>
</section>