{{>hero-short}}
<section id="add">
    <div class="form-group login">
        <h4>Ready To Find Job Applicants?</h4>
        <p>Please enter your email below to login or register. A one-time use code will be delivered to your email to finish the login / registration process. Yes, it's really that easy!</p>
        <form action="/login/continue" method="POST">
            <label for="jobtitle"><i class="far fa-envelope"></i><input type="text" id="jobtitle" name="email" placeholder="Email Address" required></label>
            <button class="button button-sliding-icon" type="submit">
                Continue
                <i class="fas fa-long-arrow-alt-right"></i>
            </button>
        </form>
    </div>
</section>