{{> hero-short}}
<div class="container">
    <div class="about-content">
        <h4><i class="far fa-check-circle"></i> Thank you {{ email }}</h4>
        <p>Thank you for subscribing to job alerts. You will be notified <strong>{{ email_frequency }}</strong></p>
    </div>
</div>