{{> hero-short}}
<div class="container">
    <div class="about-content">
        <h4><i class="fas fa-user-minus"></i> You have unsubscribed successfully <strong class="strong">{{ email }}</strong></h4>
        <p>We hope you found the perfect job for you.</p>
    </div>
</div>